body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url("images/BackgroundLMAO.webp");
    background-size: 100% ;
    
}

h1{
    color: white;
}

.container{

    border: 2px solid #ccc; 
    padding: 15px; 
    border-radius: 8px; 
    background-color: #5c5656; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}


.container1{

    border: 2px solid #ccc; 
    padding: 15px; 
    border-radius: 8px; 
    background-color: #212020; 
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}


.form-label1{ 
    width: 10%;
    color: white;
    font-weight: bold;
    text-shadow:2px 2px 2px #000000;
}

.form-label{ 
    color: rgb(246, 242, 242);
    font-weight: bold;
    text-shadow:2px 2px 2px #000000;
}

.form-select{
    border: 2px solid #000000;
    width: 30%;
    border-radius: 8px;
    
}

.form-control{
    background-color: #fcfcfc; 
    padding: 3px;
}



